
/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

body {
    width: 100%;
    height: 100vh;
    background: url('assets/background.jpg') no-repeat center;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
.head, .links {
      text-align: center;
    }
.head, .content {
      width: 90%;
      margin: 0 auto;
    }
.head, .about {
        margin-bottom: 10%;
    } 
.content {
        padding: 5% 10%;
        border-top: 1px solid hsla(0, 0%, 30%, .8);
    }
strong{
       font-size: 24px;
    }
em {
      font-size: 16px;
    }
.from {
      font-size: 14px;
    } 
.profile-card {
    width: 480px;
    max-width: calc(100vw - 10px);
    font-family: Arial;
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }
img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    filter: grayscale(50%)
  }
  .profile-image {
    margin-top: -60px;
  }
  img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
  }

  /* Contact links */
  
ul {
    list-style-type: none;
  }
  
li {
    display: inline;
  }
  
.fa {
    color: hsla(0, 0%, 30%, .8);
    margin: 10px 10px
  }
span {
    color: hsla(0, 0%, 30%, .8);
    font-style: italic;
  }